
.h1{
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.logo img{
    width: 278px;
    height: 167px;
}
.info{
    width: 447px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singin{
    width: 80px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: rgb(103, 103, 250);
    
}
.singin:active{
    background-color: red;
}
.cardBtn{
    width: 40px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: rgb(254, 169, 58);
}
.header{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}

.inputs{
    width: 750px;
    height: auto;
    border: 2px solid green;
    border-radius: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: rgb(118, 244, 223);
}
.inputs input{
    width: 700px;
    height: 40px;
    border: 2px solid;
    border-radius: 6px;
    padding-left: 20px;
}
.inputs button{
    width: 200px;
    height: 45px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    background-color: rgb(248, 57, 57);
    color: white;
    
}
.inputs button:active{
    background-color: red;
}
.products{
    width: 1440px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    margin-top: 45px;
    
}
.product{
    width: 228px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 5px;

}
.product button{
    width: 200px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgb(254, 127, 129);
    color: white;
}
.product p{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 12px;
    color: gray;
}
.product img{
    width: 200px;
    height: 150px;
    border-radius: 8px;
    
}
.hover-line {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* border matndan qancha pastda chiqishi */
    width: 0;
    height: 2px;
    background: #000; /* border rangi */
    transition: width 0.3s ease;
}

.hover-line:hover::after {
    width: 100%;
}