
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.shop{
    width: 1440px;
    height: auto;
    border: 1px solid;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.logo img{
    width: 278px;
    height: 167px;
}
.info{
    width: 447px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.glamur{
    width: 1260px;
    height: 520px;
    background-color: rgb(9, 9, 86);
    margin: auto;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 650px;
    height: 472px;
    color: white;

}
.img-brand img{
    width: 450px;
    height: 498px;
    margin-top: 24px;
}
.malumot{
    width: 591px;
    height: 250px;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
.text button{
    width: 129px;
    height: 50px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
    font-size: 22px;
}
.Do{
    width: 100%;
    height: 303px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.lorem{
    width: 700px;
    height: 140px;
    text-align: center;
    font-size: 22px;
    color: grey;
    margin-top: 20px;
}
.Dotext button{
  width: 129px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(255, 142, 142);
  color: white;
}
.products{
    width: 1260px;
    height:auto ;
    margin: auto;
    
}
.products1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.price{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product{
    width: 228px;
    height: 306px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 5px;

}
.product button{
    width: 200px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgb(254, 127, 129);
    color: white;
}
.product p{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 12px;
    color: gray;
}
.product img{
    width: 200px;
    height: 150px;
    border-radius: 8px;
    
}










.recommend-section{
    width:80%;
    margin:60px auto;
    text-align:center;
}

.recommend-section h2{
    font-size:50px;
    font-family:Georgia, serif;
    color:#2d2d2d;
    margin-bottom:35px;
    font-weight:700;
}

.recommend-box{
    display:flex;
    justify-content:center;
    gap:40px;
}

.item{
    text-align:center;
}

.item img{
    width:170px;
    height:150px;
   
}

.item p{
    margin-top:12px;
    font-size:16px;
    color:#333;
}


.sale-section{
    width:80%;
    margin:80px auto;
    background:#f7b6cb;
    border-radius:20px;
    padding:50px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
}




.mega-sale{
    width:90%;
    height:430px;
    margin:60px auto;
    background:#f7a8b8;
    border-radius:10px;
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 70px;
    overflow:hidden;
}

.chegirma-chap{
    z-index:2;
}

.chegirma-chap h2{
    font-size:58px;
    font-family:Georgia, serif;
    color:#222;
}

.chegirma-chap h1{
    font-size:90px;
    color:transparent;
    -webkit-text-stroke:2px #fff;
    margin:10px 0 30px;
}

.chegirma-chap button{
    width:220px;
    height:50px;
    background:#d77b84;
    border:none;
    color:#222;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.chegirma-ong img{
    width:320px;
    position:relative;
    z-index:2;
}

.aylana{
    position:absolute;
    width:150px;
    height:150px;
    border:18px solid rgba(255,255,255,.25);
    border-radius:50%;
    left:-40px;
    bottom:-40px;
}

.kvadrat{
    position:absolute;
    width:130px;
    height:130px;
    background:rgba(255,255,255,.15);
    right:220px;
    top:80px;
}

.nuqtalar{
    position:absolute;
    width:120px;
    height:120px;
    right:120px;
    top:50px;
    background-image:radial-gradient(#fff 2px, transparent 2px);
    background-size:14px 14px;
    opacity:.6;
}


.footer{
    width:90%;
    margin:70px auto;
    background:#f8f8f8;
    padding:50px 60px;
}

.footer-box{
    display:flex;
    justify-content:space-between;
}

.blog{
    width:180px;
}

.blog img{
    width:90px;
    margin:15px 0;
}

.blog p{
    font-size:14px;
    color:#555;
    line-height:22px;
}

.help p,
.services p{
    margin:12px 0;
    color:#666;
    font-size:14px;
}

.app img{
    width:130px;
    display:block;
    margin:12px 0;
}

.footer hr{
    margin:35px 0 20px;
    border:none;
    border-top:1px solid #ccc;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    font-size:13px;
    color:#666;
}

.icons{
    display:flex;
    gap:10px;
}

.icons i{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
}